<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Room Details</h1>

<div th:if="not ${room}">
    <div class="m-2 alert alert-warning">
        Unable to find room '<span th:text="${number}">number</span>'
    </div>
    <div style="height: 2cm">&nbsp;</div>
</div>

<div th:if="${room}" class="container">
    <dl class="row">
        <dt class="col-1">Number</dt>
        <dd th:text="${room.roomNumber}">number</dd>
    </dl>
    <dl class="row">
        <dt class="col-1">Room Type</dt>
        <dd th:text="${room.roomType}">type</dd>
    </dl>
    <dl class="row">
        <dt class="col-1">Floor</dt>
        <dd th:text="${room.roomFloor}">floor</dd>
    </dl>
    <dl class="row">
        <dt class="col-1">Is Available</dt>
        <dd th:text="${room.isAvailable}">available</dd>
    </dl>
    <dl class="row">
        <dt class="col-1">Is Smoking</dt>
        <dd th:text="${room.smokingRoom}">smoking</dd>
    </dl>
</div>

<div class="row" style="height: 2cm">&nbsp;</div>

</body>
</html>